.contact-modal {

    .eui-row {

        .eui-col {
            display: flex;
            flex-direction: column;            

            span {            
                background-color:#ededed;
                border-radius: 5px;                    
                padding: 5px;
                text-align: center;         
            }
            
            p {
                margin: 10px 0 40px;
                overflow-wrap: anywhere;
            }
        }
    }
}