.eui-navbar {
  .eui-navbar-bar,
  .eui-navbar-collapsed {
    padding: 0;

    .eui-container {
      padding: 0 20px;
    }

    .eui-navbar-brand {
      font-size: 24px;
      font-weight: 600;
      margin-right: 40px;
    }

    .eui-dropdown-item {
      align-items: center;
      display: flex;
      gap: 10px;
    }
  }
}
