.news {
    display: grid;

    .eui-spinner {
        justify-self: center;
        margin: 20px 0 40px;
    }

    .eui-card {
        box-shadow: none;

        img {
            height: 248px;
            margin-bottom: 10px;
            object-fit: cover;
            width: 100%;
        }
    }
    
    .view-more-stories-btn {
        color: #ffffff;
        justify-self: center;
        margin-top: 20px;
    }
}