.banner {
    margin: 70px 0;
    position: relative; 

    img {
        object-fit: contain;
        width: 100%;
    }

    .details {
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);        

        h1 {
            color: inherit;
            font-size: 37px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .description {
            font-size: 20px;
            margin-bottom: 50px;
            text-align: left;
            width: 500px;
        }

        .subscribe-button {
            background-color: transparent;
            border-radius: 2px;
            border: 2px solid #ffffff;
            color: inherit;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            padding: 12px 55px;
        }
    }

    @media (max-width: 799px) {
        
        .details {
            display: grid;
            place-items: center;

            h1 {
                font-size: 20px;
                margin: 0 0 10px;
            }

            .description {
                font-size: 12px;
                margin: 0 0 10px;
                text-align: justify;
                width: 80%;
            }

            .subscribe-button {
                font-size: 12px;
                padding: 5px 15px;
            }
        }
    }
}